#container-content {
  max-width: 50rem;
  margin: auto;
  margin-top: -4rem;
}

.container-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-input #input-new-tasks {
  width: 80%;
  height: 54px;
  margin-right: 0.5rem;
  padding-left: 1rem;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 0;
  border-radius: 8px;
}

.container-input button[type="submit"] {
  width: 18%;
  height: 54px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  transition: 0.2s all;
}

.container-input
  button[type="button"]:hover:not(:disabled) {
  opacity: 0.7;
}

.container-input button[type="button"]:disabled {
  cursor: not-allowed;
  background: var(--gray-500);
}

#container-tasks {
  margin-top: 4rem;
}

#container-tasks > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-description {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.tasks-flag {
  color: var(--gray-200);
  background: var(--gray-400);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 0.5rem;
}

.tasks-card {
  margin-top: 2.5rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-card {
  width: 80%;

  display: flex;
}

.container-card #completeTask {
  margin-right: 1rem;

  display: none;
}

.trigger-checkbox {
  display: flex;
}

.check-mark {
  position: relative;
}

.check-mark svg {
  position: absolute;
  left: 3px;
  top: 2px;
  fill: transparent;

  cursor: pointer;
}

.check-mark::before {
  display: inline-block;
  content: "";
  background: transparent;
  border: 1px solid var(--blue);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 1rem;

  cursor: pointer;
}

.container-card
  #completeTask:checked
  ~ .check-mark::before {
  background: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

.container-card
  #completeTask:checked
  ~ .check-mark
  svg {
  fill: var(--gray-100);
}

.container-card
  #completeTask:checked
  ~ .card-text {
  text-decoration: line-through;
}

.card-button {
  background: transparent;
  border: 0;

  cursor: pointer;
}

.card-button svg {
  fill: var(--gray-100);
}

.card-button:hover svg {
  fill: var(--danger);
}

#save-status-task {
  display: flex;
  justify-content: flex-end;

  height: 7rem;
}

#save-status-task > button {
  background: var(--blue-dark);
  color: var(--gray-100);
  padding: 0.7rem 1.5rem;
  margin-top: 2rem;

  transition: 0.2s all;
}

#save-status-task > button:hover {
  background: var(--blue);
}

#save-status-task > button:disabled {
  display: none;
}

#save-status-task > button:not(:disabled) {
  display: block;
}
